-content_for :titulo, "Blog de programacion de Alejandro Rosales"
.contenedor
  .aside
    %ul
      %li 
        %h1
          %a{:href => "/"} Home
      %li
        %h1
          %a{:href => "/"} about
      %li
        %h1
          %a{:href => "/"} Contacto
      %li
        %h1
          %a{:href => "/"} Portafolio
      %li
        %h1
          %a{:href => blogs_path, :class => 'selected' } Blog →
  .cuerpo
    -@posts.each do |p|
      %ul
        %li 
          %ul
            %li.imagen
              = link_to image_tag(p.imagen), blog_path(p)
            %li.contenido
              %h1
                = link_to (p.title.upcase), blog_path(p)
              %p
                = p.extracto.html_safe
                = link_to "leer más →", blog_path(p), {:class => "leermas"}

