%ul#menu
  %li{"data-menuanchor" => "section0"}
    %a{:href => "#section0"}Home
  %li{"data-menuanchor" => "section1"}
    %a{:href => "#section1"} About
  %li{"data-menuanchor" => "section2"}
    %a{:href => "#section2"} Contacto
#section0.section
  %h1 Alejandro Rosales
  %p Web Developer y Gamer
#section1.section
  %h1 ¿Qué hago y que no hago?
  %p This example is working with `easeOutExpo` effect instead of the default `easeOutExpo`
  %p
    You can see more about them
#section2.section
  .intro
    %h1 Cool uh?
    %p Choose the best easing effect for your site!