%ul#menu
  %li{"data-menuanchor" => "section0"}
    %a{:href => "#section0"} First slide
  %li{"data-menuanchor" => "section1"}
    %a{:href => "#section1"} Second slide
  %li{"data-menuanchor" => "section2"}
    %a{:href => "#section2"} Third slide
#section0.section
  %h1 fullPage.js
  %p Configure the easing jQuery UI effect!
#section1.section
  %h1 easeOutExpo
  %p This example is working with `easeOutExpo` effect instead of the default `easeOutExpo`
  %p
    You can see more about them
#section2.section
  .intro
    %h1 Cool uh?
    %p Choose the best easing effect for your site!