//= require bootstrap
//= require redactor-rails
body{
  margin: 0 !important;
}
.contenedor{
  .aside{
    display: inline-block;
    width: 25%;
    .selected {
      color: #121212;
    }
    ul{
      li{
        list-style: none;
        a{
          color: #707070;
          text-decoration: none;
          font-size: 14pt;
          &:hover{
            color: #333;
          }
        }
      }
    }
  }
  .cuerpo{
    border-left: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    width: 74%;
    .indez{
      height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    ul{
      padding: 0px;
      li{
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        h1{
          font-size: 16px;
        }
        a{
          color:#333;
          text-decoration: none;
        }
        p{
          font-family: Verdana, Arial, sans-serif;
          line-height: 1.6em;
          color: #848484;
          font-size: 8pt;
        }
        img{
          width: 250px;
          height: 200px;
          margin-left: 20px;
        }
      }
    }
    .imagen{
      width: 35%;
    }
    .contenido{
      width: 60%;
      margin-left: 20px;
    }
  }
}

.content{
  width: 1040px;
  margin: auto;
  margin-bottom: -142px; 
  &:after{
    content: "";
    display: block;
  }
  .createcate{
    position: absolute;
    left: 760px;
    top: 100px;
  }
  .contentblog{
    width: 90%;
    margin: auto;
    h1{
      text-transform: uppercase;
    }
    p{
      text-align: justify;
    }
    .fb-share-button{
      vertical-align: top;
    }
    .redes{
      text-align: right;
    }
    .tools{
      a{
        color: #000;
      }
    }
    .lenguaje{
      background: #272822;
      color: #f8f8f2;
      text-shadow: 0 1px rgba(0,0,0,0.3);
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
      direction: ltr;
      text-align: left;
      word-spacing: normal;
      word-break: normal;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
      border-radius: 0.3em;
      color: #1BC085;
    }
    .notas{
      color: #f8f8f2;
      text-shadow: 0 1px rgba(0,0,0,0.3);
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      -moz-tab-size: 0;
      -o-tab-size: 0;
      tab-size: 0;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      overflow: auto;
      border-radius: 0.3em;
      background: #272822;
      color: #fff;
    }
  }
}

.pagination{
  margin-bottom:  15px;
  a{
  color: #fff;
  text-decoration: none;
  }
  .page{
    border-radius: 6px;
    padding: 4px 4px 4px 8px;
    border: 1px solid #ededed;
    background-color: #000;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    &:hover{
      background-color: #707070;
    }
  }
  .current{
    border-radius: 6px;
    padding: 4px 6px;
    border: 1px solid #ededed;
    background-color: #707070;
    color: #fff;
  }
  .next, .last, .first, .prev{
    border-radius: 6px;
    padding: 4px 4px 4px 8px;
    border: 1px solid #ededed;
    background-color: #000;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    &:hover{
      background-color: #707070;
    }
  }
}
.footer, .content:after{
  height: 142px; 
}
.footer{
  width: 100%;
  height: 142px;
  background-color: #161415;
  text-align: right;
  .contentfooter{
    width: 1040px;
    margin: auto;
    text-align: center;
    p{
      color: #fff;
    }
  }
}
