//= require bootstrap
//= require redactor-rails
body{
  margin: 0 !important;
}
.contenedor{
  width: 1040px;
  margin: auto;
  .aside{
    display: inline-block;
    width: 25%;
    .selected {
      color: #121212;
    }
    ul{
      li{
        list-style: none;
        a{
          color: #707070;
          text-decoration: none;
          font-size: 14pt;
          &:hover{
            color: #333;
          }
        }
      }
    }
  }
  .cuerpo{
    border-left: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    width: 74%;
    overflow: scroll;
    ul{
      padding: 0px;
      li{
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        a{
          color:#333;
          text-decoration: none;
        }
        p{
          font-family: Verdana, Arial, sans-serif;
          line-height: 1.6em;
          color: #848484;
          font-size: 8pt;
        }
        img{
          width: 250px;
          height: 200px;
          margin-left: 20px;
        }
      }
    }
    .imagen{
      width: 35%;
    }
    .contenido{
      width: 60%;
      margin-left: 20px;
    }
  }
}
.content{
  .createcate{
    position: absolute;
    left: 760px;
    top: 100px;
  }
}
.footer{
  height: 150px;
  width: 100%;
  background-color: #161415;
  text-align: right;
}
