//= require bootstrap
//= require redactor-rails
body{
  margin: 0 !important;
}
.contenedor{
  width: 1040px;
  margin: auto;
  .aside{
    display: inline-block;
    width: 25%;
    .selected {
      color: #121212;
    }
    ul{
      li{
        list-style: none;
        a{
          color: #707070;
          text-decoration: none;
          font-size: 14pt;
          &:hover{
            color: #333;
          }
        }
      }
    }
  }
  .cuerpo{
    border-left: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    width: 74%;
    overflow: scroll;
    ul{
      padding: 0px;
      li{
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        a{
          color:#333;
          text-decoration: none;
        }
        p{
          font-family: Verdana, Arial, sans-serif;
          line-height: 1.6em;
          color: #848484;
          font-size: 8pt;
        }
        img{
          width: 250px;
          height: 200px;
          margin-left: 20px;
        }
      }
    }
    .imagen{
      width: 35%;
    }
    .contenido{
      width: 60%;
      margin-left: 20px;
    }
  }
}
.content{
  .createcate{
    position: absolute;
    left: 760px;
    top: 100px;
  }
  .contentblog{
    width: 90%;
    margin: auto;
    h1{
      text-transform: uppercase;
    }
    p{
      text-align: justify;
    }
    .lenguaje{
      background: #272822;
      color: #f8f8f2;
      text-shadow: 0 1px rgba(0,0,0,0.3);
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
      direction: ltr;
      text-align: left;
      word-spacing: normal;
      word-break: normal;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
      border-radius: 0.3em;
      p{
        color: #1BC085;
      }
    }
  }
}
.footer{
  height: 150px;
  width: 100%;
  background-color: #161415;
  text-align: right;
  .contentfooter{
    width: 1040px;
    margin: auto;
    text-align: center;
    p{
      color: #fff;
    }
  }
}
